
.imgTool{


    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border: 1px solid ;
    border-radius: 15%;
    border-color: #F9AA33;
    opacity: 50%;
    padding : 10px 5px;
    margin: 20px;
    transition: opacity 0.25s;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.imgTool:hover{

    opacity: 100%;

}
body{
    font-family: 'Lato', sans-serif;
    text-align: center;
    background: #f2f2f2;
    margin: 0;
    /* background-image: radial-gradient(rgb(179, 179, 179) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px; */
}
h1{
    background-color: #232F34;
    color: white;
    margin: 0;
    padding: 20px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.7);
}
#vs{
    font-size: 50px;
    color: #344955;
    padding: 0px;
}
#playground{
    margin: 50px;
}